@using PagedList.Mvc
@using PagedList
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/View.cshtml";
}
<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Mọi chi tiết xin liên hệ đường dây lạnh: 19001009
        </th>
        <th></th>
    </tr>
</table>
